**Analisis exploratorio** del dataframe. lo primero que deberéis hacer es un pequeño análisis exploratorio donde saquéis: 

- Número de filas y columnas

- Cuáles son los nombres de las columnas

- Los nombres de las columnas tienen espacios. Cambiar los nombres de las columnas, para que en vez de espacios tengan "_"

- ¿Cuántos nulos tiene nuestro df? Mostrad solo aquellas filas que tengan nulos y en formato del porcentaje

- ¿Tenemos duplicados en nuestro df?

- ¿Cuáles son los principales estadísticos de las variables numéricas? ¿Y de las categóricas? Mostrad los resultados por separado. 

- Cread un subdataframe que contenga unicamente las columnas de tipo *object*

In [51]:
import numpy as np
import pandas as pd

In [52]:
df = pd.read_csv("hotel_bookings.csv")

In [53]:
df.shape

(119390, 30)

In [54]:
df.columns

Index(['Unnamed: 0', 'hotel', 'is canceled', 'lead time',
       'arrival date week number', 'stays in weekend nights',
       'stays in week nights', 'adults', 'children', 'babies', 'meal',
       'country', 'market segment', 'distribution channel',
       'is repeated guest', 'previous cancellations',
       'previous bookings not canceled', 'reserved room type',
       'assigned room type', 'booking changes', 'deposit type', 'agent',
       'company', 'days in waiting list', 'customer type', 'adr',
       'required car parking spaces', 'total of special requests',
       'reservation status', 'reservation status date'],
      dtype='object')

In [140]:
list(map(str.replace(" ","_"), df.columns))
#no coge bien los argumentos por lo que se hace con lambda
list(map(lambda x: x.replace(" ","_"),df.columns))

TypeError: replace expected at least 2 arguments, got 1

In [56]:
df.columns = [column.replace(" ", "_") for column in df.columns]

In [57]:
porcentualnull = (df.isnull().sum() * 100) / df.shape[0]
porcentualnull[porcentualnull != 0]

children     0.003350
country      0.408744
agent       13.686238
company     94.306893
dtype: float64

In [58]:
df.duplicated().sum()

0

In [59]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
Unnamed:_0,119390.0,59694.500000,34465.068657,0.00,29847.25,59694.500,89541.75,119389.0
is_canceled,119390.0,0.370416,0.482918,0.00,0.00,0.000,1.00,1.0
lead_time,119390.0,104.011416,106.863097,0.00,18.00,69.000,160.00,737.0
arrival_date_week_number,119390.0,27.165173,13.605138,1.00,16.00,28.000,38.00,53.0
stays_in_weekend_nights,119390.0,0.927599,0.998613,0.00,0.00,1.000,2.00,19.0
stays_in_week_nights,119390.0,2.500302,1.908286,0.00,1.00,2.000,3.00,50.0
adults,119390.0,1.856403,0.579261,0.00,2.00,2.000,2.00,55.0
children,119386.0,0.103890,0.398561,0.00,0.00,0.000,0.00,10.0
babies,119390.0,0.007949,0.097436,0.00,0.00,0.000,0.00,10.0
is_repeated_guest,119390.0,0.031912,0.175767,0.00,0.00,0.000,0.00,1.0
previous_cancellations,119390.0,0.087118,0.844336,0.00,0.00,0.000,0.00,26.0
previous_bookings_not_canceled,119390.0,0.137097,1.497437,0.00,0.00,0.000,0.00,72.0
booking_changes,119390.0,0.221124,0.652306,0.00,0.00,0.000,0.00,21.0
agent,103050.0,86.693382,110.774548,1.00,9.00,14.000,229.00,535.0
company,6797.0,189.266735,131.655015,6.00,62.00,179.000,270.00,543.0
days_in_waiting_list,119390.0,2.321149,17.594721,0.00,0.00,0.000,0.00,391.0
adr,119390.0,101.831122,50.535790,-6.38,69.29,94.575,126.00,5400.0
required_car_parking_spaces,119390.0,0.062518,0.245291,0.00,0.00,0.000,0.00,8.0
total_of_special_requests,119390.0,0.571363,0.792798,0.00,0.00,0.000,1.00,5.0

In [60]:
df.describe(include = "object").T

                          count unique         top    freq
hotel                    119390      2  City Hotel   79330
meal                     119390      5          BB   92310
country                  118902    177         PRT   48590
market_segment           119390      8   Online TA   56477
distribution_channel     119390      5       TA/TO   97870
reserved_room_type       119390     10           A   85994
assigned_room_type       119390     12           A   74053
deposit_type             119390      3  No Deposit  104641
customer_type            119390      4   Transient   89613
reservation_status       119390      3   Check-Out   75166
reservation_status_date  119390    926  2015-10-21    1461

In [61]:
# se hace mejor con df.select_dtypes(include/exclude = "objects")
no_object = [column for column in df.columns if str(df[column].dtype) != "object"]  
df_object = df.drop(no_object, axis = 1)
df_object

,hotel,meal,country,market_segment,distribution_channel,reserved_room_type,assigned_room_type,deposit_type,customer_type,reservation_status,reservation_status_date
0,Resort Hotel,BB,PRT,Direct,Direct,C,C,No Deposit,Transient,Check-Out,2015-07-01
1,Resort Hotel,BB,PRT,Direct,Direct,C,C,No Deposit,Transient,Check-Out,2015-07-01
2,Resort Hotel,BB,GBR,Direct,Direct,A,C,No Deposit,Transient,Check-Out,2015-07-02
3,Resort Hotel,BB,GBR,Corporate,Corporate,A,A,No Deposit,Transient,Check-Out,2015-07-02
4,Resort Hotel,BB,GBR,Online TA,TA/TO,A,A,No Deposit,Transient,Check-Out,2015-07-03
...,...,...,...,...,...,...,...,...,...,...,...
119385,City Hotel,BB,BEL,Offline TA/TO,TA/TO,A,A,No Deposit,Transient,Check-Out,2017-09-06
119386,City Hotel,BB,FRA,Online TA,TA/TO,E,E,No Deposit,Transient,Check-Out,2017-09-07
119387,City Hotel,BB,DEU,Online TA,TA/TO,D,D,No Deposit,Transient,Check-Out,2017-09-07
119388,City Hotel,BB,GBR,Online TA,TA/TO,A,A,No Deposit,Transient,Check-Out,2017-09-07
119389,City Hotel,HB,DEU,Online TA,TA/TO,A,A,No Deposit,Transient,Check-Out,2017-09-07

In [62]:
str(df["hotel"].dtype)

'object'

**Cread una columna que se llame `id`, que contenga números consecutivos que no se repitan**

In [63]:
df.reset_index(inplace = True)

In [64]:
df.rename(columns = {"index" : "id"}, inplace = True)
#df["id"] = range(df.shape[0])

**Cread una columma nueva usando la columna `stays_in_weekend_nights`**

Basandonos en esta columna queremos dividir las estancias en dos categorías: 

- Estancias superiores a 5 dias serán etiquetadas como "long stay" 

- Estancias iguales o inferiores a 5 días serán consideradas como "short stay"

- Cread una nueva columna que se llame "stays_type" 

- Mostrad las 6 últimas filas

In [65]:
df["stays_type"] = np.where(df["stays_in_weekend_nights"] > 5, "long stay", "short stay")

In [66]:
df.tail(6)

,id,Unnamed:_0,hotel,is_canceled,lead_time,arrival_date_week_number,stays_in_weekend_nights,stays_in_week_nights,adults,children,...,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,stays_type
119384,119384,119384,City Hotel,0,21,35,2,5,2,0.0,...,394.0,NaN,0,Transient,96.14,0,2,Check-Out,2017-09-06,short stay
119385,119385,119385,City Hotel,0,23,35,2,5,2,0.0,...,394.0,NaN,0,Transient,96.14,0,0,Check-Out,2017-09-06,short stay
119386,119386,119386,City Hotel,0,102,35,2,5,3,0.0,...,9.0,NaN,0,Transient,225.43,0,2,Check-Out,2017-09-07,short stay
119387,119387,119387,City Hotel,0,34,35,2,5,2,0.0,...,9.0,NaN,0,Transient,157.71,0,4,Check-Out,2017-09-07,short stay
119388,119388,119388,City Hotel,0,109,35,2,5,2,0.0,...,89.0,NaN,0,Transient,104.40,0,0,Check-Out,2017-09-07,short stay
119389,119389,119389,City Hotel,0,205,35,2,7,2,0.0,...,9.0,NaN,0,Transient,151.20,0,2,Check-Out,2017-09-07,short stay

**Basandonos en la columna `required_car_parking_spaces`:**

- Chequead los valores únicos de la columna

- De cada una de las categorías de la columna, ¿cuántos registros tenemos de cada uno de ellos? Mostrad este resultado como un DataFrame

- Esta columna está en formato numérico y no nos interesa. Cambiad los 0 por "No" y mayores que 0 por "Si"

- Cread una nueva columna que se llame "parking"

In [67]:
df.required_car_parking_spaces.unique()

array([0, 1, 2, 8, 3], dtype=int64)

In [68]:
df["required_car_parking_spaces"].value_counts()

0    111974
1      7383
2        28
3         3
8         2
Name: required_car_parking_spaces, dtype: int64

In [69]:
df["parking"] = np.where(df["required_car_parking_spaces"] == 0 , "No", "Si")

**Utilizando la columna de `reservation_status_date`:**

- Cread dos columnas nuevas que correspondan con  el mes y el año. 

- Una vez que las hayais creado eliminad la columna `reservation_status_date`

- ¿Qué mes es en el que tenemos más reservas? ¿Y el año?

In [75]:
def separar_fecha(fecha):
    return fecha.split("-")[0], fecha.split("-")[1]
df[["año", "mes"]] = df.apply(lambda f: separar_fecha(f["reservation_status_date"]), axis = 1, result_type = "expand")

In [77]:
df.drop(["reservation_status_date"], axis = 1, inplace = True)

In [ ]:
from datetime import datetime
pd.to_datetime(df["fecha"])
df["fecha"].dt.year/day/month

In [101]:
df_año = df.groupby(["año"])["id"].count()
df_año[df_año == df_año.max()]

año
2016    57797
Name: id, dtype: int64

In [102]:
df_mes = df.groupby(["mes"])["id"].count()
df_mes[df_mes == df_mes.max()]

mes
07    12106
Name: id, dtype: int64

**Ahora no nos interesan los meses en números y queremos tenerlos con letra, es decir, enero, febrero, marzo, etc... Cambiad los valores de la columna "month" para tenerlos en el formato que queremos.**

In [103]:
def mes_nombre(mes):
    dic_mes= {"01":"Enero", "02":"Febrero", "03":"Marzo", "04":"Abril", "05":"Mayo", "06":"Junio",
              "07":"Julio", "08":"Agosto", "09":"Septiembre", "10":"Octubre", "11":"Noviembre","12":"Diciembre"}
    return dic_mes[mes]

In [ ]:
import calendar para tener lista de fechas y dias
librería dipL para traducir 
textblob trade a todos los idiomas

In [107]:
df["mes"] = df.apply(lambda m: mes_nombre(m["mes"]), axis = 1)

**¿Cuál es el número medio, el máximo y el mínimo de noches pasadas en fines de semana en funcion del tipo de hotel (columma `hotel`)? ¿Y los días entre semana?**

In [110]:
df.groupby(["hotel"])["stays_in_weekend_nights","stays_in_week_nights"].agg([np.mean,np.min,np.max])

C:\Users\Lin\AppData\Local\Temp\ipykernel_15684\4068589244.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  df.groupby(["hotel"])["stays_in_weekend_nights","stays_in_week_nights"].agg([np.mean,np.min,np.max])

             stays_in_weekend_nights           stays_in_week_nights
                                mean amin amax                 mean amin amax
hotel
City Hotel                  0.795185    0   16             2.182957    0   41
Resort Hotel                1.189815    0   19             3.128732    0   50

**¿ Basándonos en el país y en el tipo de hotel, cual es la media de adultos de las reservas?**

**BONUS** Si exploramos los datos del ejercicio anterior, veremos que hay en paises donde solo tenemos un tipo de hotel y en otros tenemos los dos tipos. En este caso, deberéis quedaros solo con aquellos paises que tengan los dos tipos de hoteles. ¿Cuántos países distintos tenemos en este nuevo resultado que acabamos de generar?

In [ ]:
df_pais = df.groupby(["country", "hotel"])["adults"].mean().reset_index()

In [142]:
conteo_hotel = df.groupby(["country"])["hotel"].nunique()
conteo_hotel[conteo_hotel == 2].count()
#df_pais[df_pais.duplicated("country", keep = false)]

114

**Basándonos en la columna de `hotel` filtrad los datos para extraer solo los valores de "Resort Hotel"**

In [143]:
df[df["hotel"] == "Resort Hotel"]

,id,Unnamed:_0,hotel,is_canceled,lead_time,arrival_date_week_number,stays_in_weekend_nights,stays_in_week_nights,adults,children,...,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,stays_type,parking,año,mes
0,0,0,Resort Hotel,0,342,27,0,0,2,0.0,...,0,Transient,0.00,0,0,Check-Out,short stay,No,2015,Julio
1,1,1,Resort Hotel,0,737,27,0,0,2,0.0,...,0,Transient,0.00,0,0,Check-Out,short stay,No,2015,Julio
2,2,2,Resort Hotel,0,7,27,0,1,1,0.0,...,0,Transient,75.00,0,0,Check-Out,short stay,No,2015,Julio
3,3,3,Resort Hotel,0,13,27,0,1,1,0.0,...,0,Transient,75.00,0,0,Check-Out,short stay,No,2015,Julio
4,4,4,Resort Hotel,0,14,27,0,2,2,0.0,...,0,Transient,98.00,0,1,Check-Out,short stay,No,2015,Julio
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40055,40055,40055,Resort Hotel,0,212,35,2,8,2,1.0,...,0,Transient,89.75,0,0,Check-Out,short stay,No,2017,Septiembre
40056,40056,40056,Resort Hotel,0,169,35,2,9,2,0.0,...,0,Transient-Party,202.27,0,1,Check-Out,short stay,No,2017,Septiembre
40057,40057,40057,Resort Hotel,0,204,35,4,10,2,0.0,...,0,Transient,153.57,0,3,Check-Out,short stay,No,2017,Septiembre
40058,40058,40058,Resort Hotel,0,211,35,4,10,2,0.0,...,0,Contract,112.80,0,1,Check-Out,short stay,No,2017,Septiembre
40059,40059,40059,Resort Hotel,0,161,35,4,10,2,0.0,...,0,Transient,99.06,0,0,Check-Out,short stay,No,2017,Septiembre

**Basándonos en la columa `meal` extraed solo los valores que correspondan con "BB" y "FB"**

In [144]:
df[(df["meal"] == "BB") | (df["meal"] == "FB")]

,id,Unnamed:_0,hotel,is_canceled,lead_time,arrival_date_week_number,stays_in_weekend_nights,stays_in_week_nights,adults,children,...,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,stays_type,parking,año,mes
0,0,0,Resort Hotel,0,342,27,0,0,2,0.0,...,0,Transient,0.00,0,0,Check-Out,short stay,No,2015,Julio
1,1,1,Resort Hotel,0,737,27,0,0,2,0.0,...,0,Transient,0.00,0,0,Check-Out,short stay,No,2015,Julio
2,2,2,Resort Hotel,0,7,27,0,1,1,0.0,...,0,Transient,75.00,0,0,Check-Out,short stay,No,2015,Julio
3,3,3,Resort Hotel,0,13,27,0,1,1,0.0,...,0,Transient,75.00,0,0,Check-Out,short stay,No,2015,Julio
4,4,4,Resort Hotel,0,14,27,0,2,2,0.0,...,0,Transient,98.00,0,1,Check-Out,short stay,No,2015,Julio
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119384,119384,119384,City Hotel,0,21,35,2,5,2,0.0,...,0,Transient,96.14,0,2,Check-Out,short stay,No,2017,Septiembre
119385,119385,119385,City Hotel,0,23,35,2,5,2,0.0,...,0,Transient,96.14,0,0,Check-Out,short stay,No,2017,Septiembre
119386,119386,119386,City Hotel,0,102,35,2,5,3,0.0,...,0,Transient,225.43,0,2,Check-Out,short stay,No,2017,Septiembre
119387,119387,119387,City Hotel,0,34,35,2,5,2,0.0,...,0,Transient,157.71,0,4,Check-Out,short stay,No,2017,Septiembre
119388,119388,119388,City Hotel,0,109,35,2,5,2,0.0,...,0,Transient,104.40,0,0,Check-Out,short stay,No,2017,Septiembre

**En este caso, nos interesan los datos donde tengamos reservas sin niños y sin niños**

In [145]:
df[(df["children"]==0) & (df["babies"] == 0)]

,id,Unnamed:_0,hotel,is_canceled,lead_time,arrival_date_week_number,stays_in_weekend_nights,stays_in_week_nights,adults,children,...,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,stays_type,parking,año,mes
0,0,0,Resort Hotel,0,342,27,0,0,2,0.0,...,0,Transient,0.00,0,0,Check-Out,short stay,No,2015,Julio
1,1,1,Resort Hotel,0,737,27,0,0,2,0.0,...,0,Transient,0.00,0,0,Check-Out,short stay,No,2015,Julio
2,2,2,Resort Hotel,0,7,27,0,1,1,0.0,...,0,Transient,75.00,0,0,Check-Out,short stay,No,2015,Julio
3,3,3,Resort Hotel,0,13,27,0,1,1,0.0,...,0,Transient,75.00,0,0,Check-Out,short stay,No,2015,Julio
4,4,4,Resort Hotel,0,14,27,0,2,2,0.0,...,0,Transient,98.00,0,1,Check-Out,short stay,No,2015,Julio
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,119385,119385,City Hotel,0,23,35,2,5,2,0.0,...,0,Transient,96.14,0,0,Check-Out,short stay,No,2017,Septiembre
119386,119386,119386,City Hotel,0,102,35,2,5,3,0.0,...,0,Transient,225.43,0,2,Check-Out,short stay,No,2017,Septiembre
119387,119387,119387,City Hotel,0,34,35,2,5,2,0.0,...,0,Transient,157.71,0,4,Check-Out,short stay,No,2017,Septiembre
119388,119388,119388,City Hotel,0,109,35,2,5,2,0.0,...,0,Transient,104.40,0,0,Check-Out,short stay,No,2017,Septiembre
119389,119389,119389,City Hotel,0,205,35,2,7,2,0.0,...,0,Transient,151.20,0,2,Check-Out,short stay,No,2017,Septiembre

**¿Cuáles son los valores únicos de la columna `children`?**

**¿Por qué nos sale con decimales?**

**Reemplazad los valores nulos por la moda**

In [ ]:
df["children"].fillna(df["children"].mode()[0]), inplace= True)

In [ ]:
df["children"] = df["children"].astype(int)

**Viendo los valores únicos del número de hijos, hay algo que os llame la antención?**

**Ahora queremos ordenar nuestros datos, lo haremos por el año** Las condiciones para ordenar son: 

- Año: de menor a mayor

In [147]:
df_ordenado = df.sort_values(by = "año")
df_ordenado

,id,Unnamed:_0,hotel,is_canceled,lead_time,arrival_date_week_number,stays_in_weekend_nights,stays_in_week_nights,adults,children,...,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,stays_type,parking,año,mes
73814,73814,73814,City Hotel,1,300,33,0,2,2,0.0,...,0,Transient-Party,62.80,0,0,Canceled,short stay,No,2014,Octubre
73852,73852,73852,City Hotel,1,307,34,0,2,2,0.0,...,0,Transient-Party,62.80,0,0,Canceled,short stay,No,2014,Octubre
73853,73853,73853,City Hotel,1,307,34,0,2,2,0.0,...,0,Transient-Party,62.80,0,0,Canceled,short stay,No,2014,Octubre
73854,73854,73854,City Hotel,1,314,35,0,2,2,0.0,...,0,Transient-Party,62.80,0,0,Canceled,short stay,No,2014,Octubre
73855,73855,73855,City Hotel,1,314,35,0,2,2,0.0,...,0,Transient-Party,62.80,0,0,Canceled,short stay,No,2014,Octubre
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
67001,67001,67001,City Hotel,1,25,17,0,3,2,0.0,...,0,Transient,115.00,0,1,Canceled,short stay,No,2017,Abril
39738,39738,39738,Resort Hotel,0,129,34,2,5,2,1.0,...,0,Transient,227.06,0,2,Check-Out,short stay,No,2017,Agosto
39739,39739,39739,Resort Hotel,0,58,34,0,4,2,0.0,...,0,Transient,239.60,0,0,Check-Out,short stay,No,2017,Agosto
67017,67017,67017,City Hotel,1,111,17,1,3,2,0.0,...,0,Transient,120.00,0,0,Canceled,short stay,No,2017,Enero
119389,119389,119389,City Hotel,0,205,35,2,7,2,0.0,...,0,Transient,151.20,0,2,Check-Out,short stay,No,2017,Septiembre

**Ordendad de nuevo el df, pero en este caso en función de número de adultos y niños.** Las condiciones para ordenar son: 

- Número de adultos: de mayor a menor

- Número de hijos: de menor a mayor

In [151]:
df.sort_values(by = ["adults", "children"], ascending =[True, False], inplace = True)
df

,id,Unnamed:_0,hotel,is_canceled,lead_time,arrival_date_week_number,stays_in_weekend_nights,stays_in_week_nights,adults,children,...,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,stays_type,parking,año,mes
40984,40984,40984,City Hotel,0,1,33,1,1,0,3.0,...,0,Transient-Party,9.00,0,0,Check-Out,short stay,No,2015,Agosto
46132,46132,46132,City Hotel,1,6,51,1,0,0,3.0,...,0,Transient-Party,104.25,0,1,Canceled,short stay,No,2015,Diciembre
54726,54726,54726,City Hotel,1,59,31,2,4,0,3.0,...,0,Transient,9.00,0,2,Canceled,short stay,No,2016,Junio
54888,54888,54888,City Hotel,1,225,31,2,4,0,3.0,...,0,Transient,79.27,0,1,Canceled,short stay,No,2016,Junio
82988,82988,82988,City Hotel,0,0,2,0,2,0,3.0,...,0,Transient-Party,9.00,0,1,Check-Out,short stay,No,2016,Enero
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1917,1917,1917,Resort Hotel,1,349,39,1,3,27,0.0,...,0,Group,0.00,0,0,Canceled,short stay,No,2015,Enero
1962,1962,1962,Resort Hotel,1,352,39,1,3,27,0.0,...,0,Group,0.00,0,0,Canceled,short stay,No,2015,Enero
1539,1539,1539,Resort Hotel,1,304,36,0,3,40,0.0,...,0,Group,0.00,0,0,Canceled,short stay,No,2015,Enero
1643,1643,1643,Resort Hotel,1,336,37,1,2,50,0.0,...,0,Group,0.00,0,0,Canceled,short stay,No,2015,Enero
2173,2173,2173,Resort Hotel,1,338,41,2,0,55,0.0,...,0,Group,0.00,0,0,Canceled,short stay,No,2015,Enero

**Después de hacer este último orden, nuestros índices ya no están ordenados, ordenad los índices para que empiecen desde el cero**

**Momento de practicar con el loc e iloc**

- Extraed todas las columnas para el índice 1

- Extraed las colummas de adultos, niños y bebes de todas las filas pares

- Extraed todas las filas de la columna hotel (utilizad loc o iloc)

In [154]:
df.loc[1, :]

id                                           1
Unnamed:_0                                   1
hotel                             Resort Hotel
is_canceled                                  0
lead_time                                  737
arrival_date_week_number                    27
stays_in_weekend_nights                      0
stays_in_week_nights                         0
adults                                       2
children                                   0.0
babies                                       0
meal                                        BB
country                                    PRT
market_segment                          Direct
distribution_channel                    Direct
is_repeated_guest                            0
previous_cancellations                       0
previous_bookings_not_canceled               0
reserved_room_type                           C
assigned_room_type                           C
booking_changes                              4
deposit_type                        No Deposit
agent                                      NaN
company                                    NaN
days_in_waiting_list                         0
customer_type                        Transient
adr                                        0.0
required_car_parking_spaces                  0
total_of_special_requests                    0
reservation_status                   Check-Out
stays_type                          short stay
parking                                     No
año                                       2015
mes                                      Julio
Name: 1, dtype: object

In [155]:
df.iloc[::2, [list(df.columns).index("adults"),list(df.columns).index("children"),list(df.columns).index("babies")]]

        adults  children  babies
40984        0       3.0       0
54726        0       3.0       0
82988        0       3.0       0
95646        0       3.0       0
112754       0       3.0       0
...        ...       ...     ...
1587        26       0.0       0
1884        26       0.0       0
2164        26       0.0       0
1962        27       0.0       0
1643        50       0.0       0

[59695 rows x 3 columns]